Repository shrisha-joshi/Savitara: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-savitara-web, eslint-admin-web

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# ---------------------------------------------------------------
# Pre-commit hooks for Savitara platform
#
# Install pre-commit once:
#   pip install pre-commit
#   pre-commit install        # installs git hook
#
# Run manually against all files:
#   pre-commit run --all-files
#
# Update hook versions:
#   pre-commit autoupdate
# ---------------------------------------------------------------

repos:
  # ── General file hygiene ──────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]        # allow custom YAML tags in k8s manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key  # SonarQube: S6437 - never commit secrets
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-case-conflict

  # ── Python — Black formatter ──────────────────────────────────────────
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3.11
        files: ^backend/

  # ── Python — Ruff linter (replaces flake8 + isort + many more) ───────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format   # Ruff's formatter (black-compatible)
        files: ^backend/

  # ── Python — detect secrets ───────────────────────────────────────────
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: (\.env\.example|package-lock\.json|poetry\.lock)

  # ── JavaScript / TypeScript — ESLint ─────────────────────────────────
  - repo: local
    hooks:
      - id: eslint-savitara-web
        name: ESLint (savitara-web)
        language: node
        entry: bash -c 'cd savitara-web && npx eslint --max-warnings=0 src/'
        files: ^savitara-web/src/.*\.[jt]sx?$
        pass_filenames: false

      - id: eslint-admin-web
        name: ESLint (admin-savitara-web)
        language: node
        entry: bash -c 'cd admin-savitara-web && npx eslint --max-warnings=0 src/ pages/'
        files: ^admin-savitara-web/(src|pages)/.*\.[jt]sx?$
        pass_filenames: false

  # ── Dockerfile lint ───────────────────────────────────────────────────
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

feat: Update booking status transitions to include new statuses for payment and rejection
  backend/app/api/v1/bookings.py
Due: none

feat: Enforce state machine transitions for booking cancellation to restrict invalid status changes
  backend/app/api/v1/bookings.py
Due: none

feat: Enhance booking API with new constants and improve MongoDB query handling; update SocketContext for better typing indicators and payment notifications
  BACKEND_ERRORS_RESOLVED.md
  BACKEND_STARTUP_SUCCESS.md
  backend/app/api/v1/bookings.py
  backend/app/core/constants.py
  backend/app/main.py
  backend/pyrightconfig.json
  backend/requirements.txt
  backend/sonar-project.properties
  savitara-web/src/context/SocketContext.jsx
Due: eslint-savitara-web

refactor: Optimize component performance by using useCallback and useMemo in various pages
  admin-savitara-web/pages/audit-logs.js
  admin-savitara-web/pages/bookings.js
  admin-savitara-web/pages/dashboard.js
  admin-savitara-web/pages/kyc-verification.js
  admin-savitara-web/pages/login.js
  admin-savitara-web/pages/users.js
  admin-savitara-web/src/components/CascadingLocationSelect.js
Due: eslint-admin-web

feat: Enhance booking handling by converting IDs to ObjectId for MongoDB compatibility and improve logging for better debugging
  backend/app/api/v1/bookings.py
  backend/app/core/security.py
  savitara-web/src/pages/Login.jsx
  savitara-web/src/pages/acharya/Bookings.jsx
  savitara-web/src/pages/chat/Conversations.jsx
  savitara-web/src/pages/grihasta/MyBookings.jsx
Due: eslint-savitara-web

refactor(schema): normalize DB schema for 10K DAU scale
  backend/app/db/connection.py
  backend/app/models/database.py
Due: none

feat(api): add getPriceEstimate API endpoint for dynamic pricing estimates
  IMPROVEMENT_PROMPTS.md
  backend/app/api/v1/bookings.py
  backend/app/api/v1/chat.py
  backend/app/main.py
  backend/app/services/pricing_service.py
  backend/app/services/websocket_manager.py
  backend/tests/test_chat_api.py
  backend/tests/test_websocket_behaviour.py
  backend/tests/test_ws_health.py
  savitara-app/src/context/SocketContext.js
  savitara-app/src/screens/chat/ConversationScreen.js
  savitara-app/src/screens/grihasta/BookingScreen.js
  savitara-app/src/screens/grihasta/PaymentScreen.js
  savitara-app/src/services/api.js
  savitara-app/src/services/websocket.js
  savitara-web/src/context/SocketContext.jsx
Due: eslint-savitara-web

Refactor dispute and fraud alerts loading states; improve error handling in investor metrics and API endpoints
  admin-savitara-web/package.json
  admin-savitara-web/pages/bookings.js
  admin-savitara-web/pages/dispute-management.js
  admin-savitara-web/pages/fraud-alerts.js
  admin-savitara-web/pages/investor-metrics.js
  backend/app/api/v1/admin.py
  backend/app/api/v1/bookings.py
  backend/app/api/v1/investor_metrics.py
  backend/app/core/constants.py
  backend/app/db/aggregations/analytics_agg.py
  backend/app/services/investor_metrics_service.py
  backend/app/services/trust_service.py
  backend/tests/services/test_trust_service.py
  savitara-app/src/components/PricingDisplay.js
  savitara-app/src/screens/acharya/AttendanceConfirmScreen.js
  savitara-app/src/screens/acharya/StartBookingScreen.js
  savitara-app/src/screens/common/OnboardingScreen.js
  savitara-app/src/screens/grihasta/BookingScreen.js
  savitara-app/src/services/paymentApi.js
Due: eslint-admin-web

refactor: Clean up unused dependencies and improve API endpoint consistency in frontend and backend
  admin-savitara-web/package.json
  admin-savitara-web/pages/bookings.js
  admin-savitara-web/pages/dispute-management.js
  backend/app/api/v1/bookings.py
  backend/app/api/v1/gamification.py
  backend/app/api/v1/services.py
  backend/app/api/v1/trust.py
  backend/app/core/exceptions.py
  backend/app/services/trust_service.py
  savitara-web/src/pages/Rewards.jsx
Due: eslint-savitara-web, eslint-admin-web

"fix: Change npm ci to npm install in Dockerfiles
  admin-savitara-web/Dockerfile
  savitara-web/Dockerfile
Due: none

Docker Yml fiel
  docker-compose.yml
  savitara-app/package.json
  savitara-app/tsconfig.json
Due: none

fix: Update Content Security Policy to allow localhost for development and adjust timeout settings for MongoDB connection
  admin-savitara-web/next.config.js
  backend/app/db/connection.py
  savitara-web/index.html
Due: none

refactor: reorganize imports and enhance login component structure
  CHANGELOG.md
  admin-savitara-app/.env.example
  admin-savitara-app/.gitignore
  admin-savitara-app/package.json
  admin-savitara-web/next.config.js
  backend/app/api/v1/auth.py
  backend/app/api/v1/bookings.py
  backend/app/models/database.py
  backend/app/services/otp_service.py
  savitara-app/.env.example
  savitara-app/package.json
  savitara-app/src/context/AuthContext.js
  savitara-app/src/screens/auth/LoginScreen.js
  savitara-app/src/screens/chat/ConversationScreen.js
  savitara-app/src/screens/grihasta/BookingScreen.js
  savitara-app/src/services/api.js
  savitara-app/tsconfig.json
  savitara-web/.gitignore
  savitara-web/index.html
  savitara-web/package.json
  savitara-web/src/_shims/date-fns-longFormatters.mjs
  savitara-web/src/context/AuthContext.jsx
  savitara-web/src/context/SocketContext.jsx
  savitara-web/src/pages/Home.jsx
  savitara-web/src/pages/Login.jsx
  savitara-web/src/pages/Onboarding.jsx
  savitara-web/src/styles/global.css
  savitara-web/vite.config.js
Due: eslint-savitara-web

feat: Enhance authentication flow with password reset functionality
  backend/app/api/v1/auth.py
  backend/app/api/v1/bookings.py
  backend/app/core/security.py
  backend/app/schemas/requests.py
  backend/app/services/otp_service.py
  savitara-web/package.json
  savitara-web/src/components/Navbar.jsx
  savitara-web/src/components/PanchangaWidget.jsx
  savitara-web/src/components/cards/AcharyaCard.jsx
  savitara-web/src/components/cards/ServiceCard.jsx
  savitara-web/src/context/AuthContext.jsx
  savitara-web/src/context/SocketContext.jsx
  savitara-web/src/context/ThemeContext.jsx
  savitara-web/src/main.jsx
  savitara-web/src/pages/Login.jsx
  savitara-web/src/pages/Onboarding.jsx
  savitara-web/src/pages/Profile.jsx
  savitara-web/src/pages/grihasta/AcharyaProfile.jsx
  savitara-web/src/pages/grihasta/CreateBooking.jsx
  savitara-web/src/pages/grihasta/Dashboard.jsx
  savitara-web/src/pages/grihasta/SearchAcharyas.jsx
  savitara-web/src/services/api.js
  savitara-web/src/services/firebase.js
  savitara-web/src/styles/global.css
Due: eslint-savitara-web

feat: Implement dual Panchanga support with location-based calculations
  .github/prompts/fix-panchanga-system.prompt.md
  backend/app/api/v1/panchanga.py
  backend/app/api/v1/users.py
  backend/app/models/database.py
  backend/app/schemas/requests.py
  backend/app/services/panchanga_service.py
  backend/requirements.txt
  savitara-app/src/components/PanchangaWidget.js
  savitara-app/src/screens/acharya/BookingRequestsScreen.js
  savitara-app/src/screens/chat/ChatListScreen.js
  savitara-app/src/screens/common/ProfileScreen.js
  savitara-app/src/utils/dateTime.js
  savitara-web/src/components/ChatWidget.jsx
  savitara-web/src/components/PanchangaWidget.jsx
  savitara-web/src/pages/Profile.jsx
  savitara-web/src/pages/chat/Chat.jsx
  savitara-web/src/utils/timeFormat.js
Due: eslint-savitara-web

fix: Improve WebSocket message handling and fallback mechanisms; enhance API calls for acharyas with backward compatibility
  backend/app/api/v1/chat.py
  backend/app/services/websocket_manager.py
  savitara-web/src/context/SocketContext.jsx
  savitara-web/src/pages/acharya/Bookings.jsx
Due: eslint-savitara-web

feat: implement MongoDB booking repository and related utilities
  backend/app/api/v1/bookings.py
  backend/app/api/v1/chat.py
  backend/app/core/exceptions.py
  backend/app/core/interfaces.py
  backend/app/core/middleware_config.py
  backend/app/repositories/__init__.py
  backend/app/repositories/booking_repository.py
  backend/app/services/notification_service.py
  backend/app/services/payment_service.py
  backend/app/services/websocket_manager.py
  backend/app/utils/id_utils.py
  backend/ruff.toml
  backend/tests/services/test_trust_service.py
  backend/tests/test_bookings.py
  backend/tests/test_chaos_failure_modes.py
  backend/tests/test_chat_api.py
  backend/tests/test_e2e_acharya_chat_hardening.py
  backend/tests/test_e2e_payment_dispute_hardening.py
  backend/tests/test_websocket.py
  docs/adr/ADR-001-circuit-breaker-pattern.md
  docs/adr/ADR-002-exception-discipline-policy.md
  docs/adr/ADR-003-repository-boundary-pattern.md
  docs/adr/ADR-004-correlation-id-tracing.md
  savitara-web/src/components/chat/ChatMessageBubble.jsx
  savitara-web/src/pages/chat/Chat.jsx
Due: eslint-savitara-web

feat: Implement strict API idempotency keys for booking and payment endpoints
  backend/app/api/v1/bookings.py
  backend/app/api/v1/trust.py
  backend/app/core/exceptions.py
  backend/app/core/middleware_config.py
  backend/app/db/connection.py
  backend/app/main.py
  backend/app/services/idempotency_service.py
  backend/app/services/websocket_manager.py
  backend/tests/test_bookings.py
  backend/tests/test_e2e_payment_dispute_hardening.py
  backend/tests/test_security.py
  docs/WORLD_CLASS_GROWTH_EXECUTION_BACKLOG.md
  docs/runbooks/BACKUP_DRILL_RUNBOOK.md
  docs/runbooks/CANARY_BLUE_GREEN_DEPLOYMENT.md
  docs/runbooks/INCIDENT_RESPONSE_PLAYBOOK.md
  docs/runbooks/SLO_SLA.md
  k8s/monitoring/prometheus-config.yaml
  savitara-web/src/pages/chat/Chat.jsx
Due: eslint-savitara-web

feat: Implement durable outbox pattern for reliable event processing and notifications
  backend/app/api/v1/bookings.py
  backend/app/core/startup.py
  backend/app/db/connection.py
  backend/app/services/outbox_dispatcher.py
  backend/app/services/outbox_service.py
  backend/app/workers/outbox_worker.py
  backend/tests/test_outbox_worker.py
Due: none

feat: Add feature flags API and service for tenant/cohort-aware feature management
  backend/app/api/v1/__init__.py
  backend/app/api/v1/feature_flags.py
  backend/app/core/middleware_config.py
  backend/app/db/connection.py
  backend/app/main.py
  backend/app/services/feature_flag_service.py
  backend/tests/test_feature_flags.py
  backend/tests/test_security.py
Due: none

feat: Implement async job service for Panchanga yearly precompute jobs
  admin-savitara-app/src/services/createApiClient.js
  admin-savitara-web/src/services/createApiClient.js
  backend/app/api/v1/panchanga.py
  backend/app/core/middleware_config.py
  backend/app/core/startup.py
  backend/app/core/tracing.py
  backend/app/db/connection.py
  backend/app/db/query_budget.py
  backend/app/services/async_job_service.py
  backend/app/services/calling_service.py
  backend/app/services/notification_service.py
  backend/app/services/payment_service.py
  backend/app/utils/logging_config.py
  backend/app/utils/resilience.py
  backend/app/workers/panchanga_precompute_worker.py
  backend/tests/test_panchanga_jobs.py
  backend/tests/test_query_budget.py
  backend/tests/test_resilience.py
  backend/tests/test_security.py
  savitara-app/src/services/createApiClient.js
  savitara-web/src/services/createApiClient.js
Due: eslint-savitara-web, eslint-admin-web

Add tests for booking SLA features, rebooking functionality, and OpenAPI contract validation
  .github/workflows/chaos-nightly.yml
  backend/.env.example
  backend/app/api/v1/__init__.py
  backend/app/api/v1/analytics.py
  backend/app/api/v1/bookings.py
  backend/app/api/v1/investor_metrics.py
  backend/app/api/v1/payments.py
  backend/app/api/v1/reliability_admin.py
  backend/app/api/v1/trust.py
  backend/app/core/config/base.py
  backend/app/core/middleware_config.py
  backend/app/core/startup.py
  backend/app/db/connection.py
  backend/app/main.py
  backend/app/models/database.py
  backend/app/schemas/requests.py
  backend/app/services/booking_event_stream_service.py
  backend/app/services/command_bus_service.py
  backend/app/services/kill_switch_service.py
  backend/app/services/outbox_dispatcher.py
  backend/app/services/risk_policy_engine.py
  backend/app/services/write_ahead_audit_service.py
  backend/app/workers/anomaly_processor_worker.py
  backend/app/workers/booking_expiry_worker.py
  backend/app/workers/outbox_worker.py
  backend/scripts/chaos_experiment.py
  backend/scripts/check_payment_booking_consistency.py
  backend/scripts/detect_config_drift.py
  backend/scripts/deterministic_replay.py
  backend/scripts/openapi_contract_snapshot.py
  backend/scripts/progressive_delivery_gate.py
  backend/scripts/retention_lifecycle.py
  backend/scripts/run_migrations_framework.py
  backend/scripts/synthetic_monitor.py
  backend/tests/contracts/openapi_snapshot.json
  backend/tests/test_bookings.py
  backend/tests/test_openapi_contract_snapshot.py
  backend/tests/test_outbox_worker.py
Due: none

feat: Add booking fee breakdown and GST invoice generation endpoints
  backend/app/api/v1/bookings.py
  backend/app/core/config/base.py
  backend/app/db/connection.py
  backend/app/services/invoice_service.py
  backend/tests/test_bookings.py
Due: none

feat: Implement booking discovery features including response time badges and alternative acharya suggestions
  backend/app/api/v1/bookings.py
  backend/app/api/v1/strategy_features.py
  backend/app/api/v1/users.py
  backend/app/db/connection.py
  backend/app/services/booking_discovery_service.py
  backend/app/workers/booking_expiry_worker.py
  backend/tests/test_bookings.py
Due: none

feat: implement booking checklist reminders and lite flow nudges
  backend/app/api/v1/strategy_features.py
  backend/app/api/v1/users.py
  backend/app/core/config/base.py
  backend/app/db/connection.py
  backend/app/schemas/requests.py
  backend/app/services/booking_discovery_service.py
  backend/app/workers/booking_expiry_worker.py
  backend/tests/test_bookings.py
  docs/WORLD_CLASS_GROWTH_EXECUTION_BACKLOG.md
Due: none

feat: Implement growth wave features including recurring rituals, family accounts, and concierge flows
  backend/app/api/v1/strategy_features.py
  backend/app/db/connection.py
  backend/app/schemas/requests.py
  backend/tests/test_bookings.py
  docs/WORLD_CLASS_GROWTH_EXECUTION_BACKLOG.md
Due: none

fix: remove redundant unique index creation for global controls in DatabaseManager
  backend/app/db/connection.py
Due: none

feat: enhance acharya profile lookup and add idempotency key for booking submissions
  backend/app/api/v1/bookings.py
  backend/app/repositories/booking_repository.py
  savitara-web/src/context/SocketContext.jsx
  savitara-web/src/pages/grihasta/CreateBooking.jsx
Due: eslint-savitara-web
